
// SG HIde
// ==========================================================================

.sg-wrapper .sg-hide {
    display: none;
}


// Full Screen Preview
// Hide element in styleguide view
// ==========================================================================

.sg-wrapper .sg-preview {
    position: relative;
    display: block;
    max-height: 200px!important;
    height: 200px!important;
    min-height: 200px;
    background: #fff;
    *{display: none;}
    &:after{
		content: 'View preview in full screen mode';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 1.5rem;
        text-align: center;
        color: get-txt-colour(grey8, 'secondary');
        border: 1px dashed get-txt-colour(grey8, 'dividers');
    }
}