// Grid
//
// markup:
// <div class="row">
//     <div class="small-6 large-4 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-4</div></div>
//     <div class="small-6 large-4 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-4</div></div>
//     <div class="small-12 large-4 columns u-mb--4"><div class="styleguide-grid-unit">small-12 large-4</div></div>
// </div>
// <div class="row">
//     <div class="large-3 columns u-mb--4"><div class="styleguide-grid-unit">large-3</div></div>
//     <div class="large-6 columns u-mb--4"><div class="styleguide-grid-unit">large-6</div></div>
//     <div class="large-3 columns u-mb--4"><div class="styleguide-grid-unit">large-3</div></div>
// </div>
// <div class="row">
//     <div class="small-6 large-2 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-2</div></div>
//     <div class="small-6 large-8 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-8</div></div>
//     <div class="small-12 large-2 columns u-mb--4"><div class="styleguide-grid-unit">small-12 large-2</div></div>
// </div>
// <div class="row">
//     <div class="small-3 columns u-mb--4"><div class="styleguide-grid-unit">small-3</div></div>
//     <div class="small-9 columns u-mb--4"><div class="styleguide-grid-unit">small-9</div></div>
// </div>
// <div class="row">
//     <div class="large-4 columns u-mb--4"><div class="styleguide-grid-unit">large-4</div></div>
//     <div class="large-8 columns u-mb--4"><div class="styleguide-grid-unit">large-8</div></div>
// </div>
// <div class="row">
//     <div class="small-6 large-5 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-5</div></div>
//     <div class="small-6 large-7 columns u-mb--4"><div class="styleguide-grid-unit">small-6 large-7</div></div>
// </div>
// <div class="row">
//     <div class="large-6 columns u-mb--4"><div class="styleguide-grid-unit">large-6</div></div>
//     <div class="large-6 columns u-mb--4"><div class="styleguide-grid-unit">large-6</div></div>
// </div> 
//
// Styleguide 1.3

// styleguide:ignore:start

// ==========================================================================
// Custom Mixins
// ==========================================================================

// grid-row-fullWidth [mixin]
// ==========================================================================
// Allows grid to stretch full width of screen and adds left/ right padding to ensure content
// Stays within the max site width
@mixin grid-row-fullWidth() {
    @include flex-grid-row();
    margin-left: 0;
    margon-right: 0;
    max-width: 100%;
    @media (min-width: $global-width ){
        padding-left: calc((100% - #{$global-width}) * 0.5);
        padding-right: calc((100% - #{$global-width}) * 0.5);
    }
}

// ==========================================================================
// Grid utils
// ==========================================================================
@mixin gridUtils() {

    // FLex Column
    // ==========================================================================
    .row--centerColumn .column,
    .row--centerColumn .columns {
        display: flex;
        align-items: center;
    }

    .column.column--flex,
    .columns.columns--flex {
        display: flex;
    }

    // Grid overlay
    // ==========================================================================
    .js-horizontalOverlay {
    	pointer-events: none;
    	position: absolute;
    	display: none; // Hide by default
    	top: 0;
    	left: 0;
    	width: 100vw;
    	height: 100%;
        z-index: 1000;

    	* { pointer-events: none; }
    	
    	.row,
    	.columns { height: 100%; }

    	// Show
    	&--show { display: block; }
    }

    // Width Utils 
    .u-w--100 { width: 100%; }
}

// styleguide:ignore:end
