@import "variables";

@font-face {
  font-family: 'a-icon';
  src:  url('#{$icomoon-font-path}/a-icon.eot?p51xeg');
  src:  url('#{$icomoon-font-path}/a-icon.eot?p51xeg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/a-icon.ttf?p51xeg') format('truetype'),
    url('#{$icomoon-font-path}/a-icon.woff?p51xeg') format('woff'),
    url('#{$icomoon-font-path}/a-icon.svg?p51xeg#a-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="a-icon-"], [class*=" a-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'a-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-icon-access_alarms {
  &:before {
    content: $a-icon-access_alarms;
  }
}
.a-icon-schedule {
  &:before {
    content: $a-icon-schedule;
  }
}
.a-icon-accessible {
  &:before {
    content: $a-icon-accessible;
  }
}
.a-icon-account_balance_wallet {
  &:before {
    content: $a-icon-account_balance_wallet;
  }
}
.a-icon-account_box {
  &:before {
    content: $a-icon-account_box;
  }
}
.a-icon-account_circle {
  &:before {
    content: $a-icon-account_circle;
  }
}
.a-icon-add {
  &:before {
    content: $a-icon-add;
  }
}
.a-icon-add_location {
  &:before {
    content: $a-icon-add_location;
  }
}
.a-icon-add_shopping_cart {
  &:before {
    content: $a-icon-add_shopping_cart;
  }
}
.a-icon-flight {
  &:before {
    content: $a-icon-flight;
  }
}
.a-icon-apps {
  &:before {
    content: $a-icon-apps;
  }
}
.a-icon-arrow_back {
  &:before {
    content: $a-icon-arrow_back;
  }
}
.a-icon-arrow_downward {
  &:before {
    content: $a-icon-arrow_downward;
  }
}
.a-icon-arrow_drop_down {
  &:before {
    content: $a-icon-arrow_drop_down;
  }
}
.a-icon-arrow_forward {
  &:before {
    content: $a-icon-arrow_forward;
  }
}
.a-icon-arrow_upward {
  &:before {
    content: $a-icon-arrow_upward;
  }
}
.a-icon-art_track {
  &:before {
    content: $a-icon-art_track;
  }
}
.a-icon-assignment {
  &:before {
    content: $a-icon-assignment;
  }
}
.a-icon-assignment_ind {
  &:before {
    content: $a-icon-assignment_ind;
  }
}
.a-icon-flag {
  &:before {
    content: $a-icon-flag;
  }
}
.a-icon-attach_file {
  &:before {
    content: $a-icon-attach_file;
  }
}
.a-icon-audiotrack {
  &:before {
    content: $a-icon-audiotrack;
  }
}
.a-icon-beenhere {
  &:before {
    content: $a-icon-beenhere;
  }
}
.a-icon-class {
  &:before {
    content: $a-icon-class;
  }
}
.a-icon-turned_in {
  &:before {
    content: $a-icon-turned_in;
  }
}
.a-icon-turned_in_not {
  &:before {
    content: $a-icon-turned_in_not;
  }
}
.a-icon-border_color {
  &:before {
    content: $a-icon-border_color;
  }
}
.a-icon-brush {
  &:before {
    content: $a-icon-brush;
  }
}
.a-icon-burst_mode {
  &:before {
    content: $a-icon-burst_mode;
  }
}
.a-icon-domain {
  &:before {
    content: $a-icon-domain;
  }
}
.a-icon-phone {
  &:before {
    content: $a-icon-phone;
  }
}
.a-icon-photo_camera {
  &:before {
    content: $a-icon-photo_camera;
  }
}
.a-icon-redeem {
  &:before {
    content: $a-icon-redeem;
  }
}
.a-icon-casino {
  &:before {
    content: $a-icon-casino;
  }
}
.a-icon-chat {
  &:before {
    content: $a-icon-chat;
  }
}
.a-icon-chat_bubble {
  &:before {
    content: $a-icon-chat_bubble;
  }
}
.a-icon-chat_bubble_outline {
  &:before {
    content: $a-icon-chat_bubble_outline;
  }
}
.a-icon-check {
  &:before {
    content: $a-icon-check;
  }
}
.a-icon-check_box {
  &:before {
    content: $a-icon-check_box;
  }
}
.a-icon-check_box_outline_blank {
  &:before {
    content: $a-icon-check_box_outline_blank;
  }
}
.a-icon-check_circle {
  &:before {
    content: $a-icon-check_circle;
  }
}
.a-icon-navigate_before {
  &:before {
    content: $a-icon-navigate_before;
  }
}
.a-icon-navigate_next {
  &:before {
    content: $a-icon-navigate_next;
  }
}
.a-icon-chrome_reader_mode {
  &:before {
    content: $a-icon-chrome_reader_mode;
  }
}
.a-icon-close {
  &:before {
    content: $a-icon-close;
  }
}
.a-icon-code {
  &:before {
    content: $a-icon-code;
  }
}
.a-icon-photo_library {
  &:before {
    content: $a-icon-photo_library;
  }
}
.a-icon-collections_bookmark {
  &:before {
    content: $a-icon-collections_bookmark;
  }
}
.a-icon-palette {
  &:before {
    content: $a-icon-palette;
  }
}
.a-icon-comment {
  &:before {
    content: $a-icon-comment;
  }
}
.a-icon-mode_edit {
  &:before {
    content: $a-icon-mode_edit;
  }
}
.a-icon-payment {
  &:before {
    content: $a-icon-payment;
  }
}
.a-icon-dashboard {
  &:before {
    content: $a-icon-dashboard;
  }
}
.a-icon-date_range {
  &:before {
    content: $a-icon-date_range;
  }
}
.a-icon-dehaze {
  &:before {
    content: $a-icon-dehaze;
  }
}
.a-icon-developer_mode {
  &:before {
    content: $a-icon-developer_mode;
  }
}
.a-icon-phonelink {
  &:before {
    content: $a-icon-phonelink;
  }
}
.a-icon-devices_other {
  &:before {
    content: $a-icon-devices_other;
  }
}
.a-icon-done {
  &:before {
    content: $a-icon-done;
  }
}
.a-icon-drag_handle {
  &:before {
    content: $a-icon-drag_handle;
  }
}
.a-icon-markunread {
  &:before {
    content: $a-icon-markunread;
  }
}
.a-icon-error_outline {
  &:before {
    content: $a-icon-error_outline;
  }
}
.a-icon-event_available {
  &:before {
    content: $a-icon-event_available;
  }
}
.a-icon-event_busy {
  &:before {
    content: $a-icon-event_busy;
  }
}
.a-icon-event_note {
  &:before {
    content: $a-icon-event_note;
  }
}
.a-icon-extension {
  &:before {
    content: $a-icon-extension;
  }
}
.a-icon-favorite {
  &:before {
    content: $a-icon-favorite;
  }
}
.a-icon-favorite_border {
  &:before {
    content: $a-icon-favorite_border;
  }
}
.a-icon-filter_1 {
  &:before {
    content: $a-icon-filter_1;
  }
}
.a-icon-filter_2 {
  &:before {
    content: $a-icon-filter_2;
  }
}
.a-icon-filter_3 {
  &:before {
    content: $a-icon-filter_3;
  }
}
.a-icon-filter_4 {
  &:before {
    content: $a-icon-filter_4;
  }
}
.a-icon-filter_5 {
  &:before {
    content: $a-icon-filter_5;
  }
}
.a-icon-filter_6 {
  &:before {
    content: $a-icon-filter_6;
  }
}
.a-icon-filter_7 {
  &:before {
    content: $a-icon-filter_7;
  }
}
.a-icon-filter_8 {
  &:before {
    content: $a-icon-filter_8;
  }
}
.a-icon-filter_9 {
  &:before {
    content: $a-icon-filter_9;
  }
}
.a-icon-filter_9_plus {
  &:before {
    content: $a-icon-filter_9_plus;
  }
}
.a-icon-terrain {
  &:before {
    content: $a-icon-terrain;
  }
}
.a-icon-find_in_page {
  &:before {
    content: $a-icon-find_in_page;
  }
}
.a-icon-format_quote {
  &:before {
    content: $a-icon-format_quote;
  }
}
.a-icon-free_breakfast {
  &:before {
    content: $a-icon-free_breakfast;
  }
}
.a-icon-fullscreen {
  &:before {
    content: $a-icon-fullscreen;
  }
}
.a-icon-star {
  &:before {
    content: $a-icon-star;
  }
}
.a-icon-highlight_off {
  &:before {
    content: $a-icon-highlight_off;
  }
}
.a-icon-home {
  &:before {
    content: $a-icon-home;
  }
}
.a-icon-hourglass_empty {
  &:before {
    content: $a-icon-hourglass_empty;
  }
}
.a-icon-hourglass_full {
  &:before {
    content: $a-icon-hourglass_full;
  }
}
.a-icon-photo {
  &:before {
    content: $a-icon-photo;
  }
}
.a-icon-info {
  &:before {
    content: $a-icon-info;
  }
}
.a-icon-info_outline {
  &:before {
    content: $a-icon-info_outline;
  }
}
.a-icon-input {
  &:before {
    content: $a-icon-input;
  }
}
.a-icon-insert_drive_file {
  &:before {
    content: $a-icon-insert_drive_file;
  }
}
.a-icon-tag_faces {
  &:before {
    content: $a-icon-tag_faces;
  }
}
.a-icon-link {
  &:before {
    content: $a-icon-link;
  }
}
.a-icon-keyboard_arrow_down {
  &:before {
    content: $a-icon-keyboard_arrow_down;
  }
}
.a-icon-keyboard_arrow_left {
  &:before {
    content: $a-icon-keyboard_arrow_left;
  }
}
.a-icon-keyboard_arrow_right {
  &:before {
    content: $a-icon-keyboard_arrow_right;
  }
}
.a-icon-keyboard_arrow_up {
  &:before {
    content: $a-icon-keyboard_arrow_up;
  }
}
.a-icon-label {
  &:before {
    content: $a-icon-label;
  }
}
.a-icon-label_outline {
  &:before {
    content: $a-icon-label_outline;
  }
}
.a-icon-library_books {
  &:before {
    content: $a-icon-library_books;
  }
}
.a-icon-library_music {
  &:before {
    content: $a-icon-library_music;
  }
}
.a-icon-line_style {
  &:before {
    content: $a-icon-line_style;
  }
}
.a-icon-line_weight {
  &:before {
    content: $a-icon-line_weight;
  }
}
.a-icon-local_play {
  &:before {
    content: $a-icon-local_play;
  }
}
.a-icon-local_bar {
  &:before {
    content: $a-icon-local_bar;
  }
}
.a-icon-local_cafe {
  &:before {
    content: $a-icon-local_cafe;
  }
}
.a-icon-restaurant_menu {
  &:before {
    content: $a-icon-restaurant_menu;
  }
}
.a-icon-shopping_cart {
  &:before {
    content: $a-icon-shopping_cart;
  }
}
.a-icon-theaters {
  &:before {
    content: $a-icon-theaters;
  }
}
.a-icon-local_pizza {
  &:before {
    content: $a-icon-local_pizza;
  }
}
.a-icon-local_shipping {
  &:before {
    content: $a-icon-local_shipping;
  }
}
.a-icon-local_taxi {
  &:before {
    content: $a-icon-local_taxi;
  }
}
.a-icon-location_city {
  &:before {
    content: $a-icon-location_city;
  }
}
.a-icon-room {
  &:before {
    content: $a-icon-room;
  }
}
.a-icon-lock_open {
  &:before {
    content: $a-icon-lock_open;
  }
}
.a-icon-lock_outline {
  &:before {
    content: $a-icon-lock_outline;
  }
}
.a-icon-looks_3 {
  &:before {
    content: $a-icon-looks_3;
  }
}
.a-icon-looks_4 {
  &:before {
    content: $a-icon-looks_4;
  }
}
.a-icon-looks_5 {
  &:before {
    content: $a-icon-looks_5;
  }
}
.a-icon-looks_6 {
  &:before {
    content: $a-icon-looks_6;
  }
}
.a-icon-looks_one {
  &:before {
    content: $a-icon-looks_one;
  }
}
.a-icon-looks_two {
  &:before {
    content: $a-icon-looks_two;
  }
}
.a-icon-loyalty {
  &:before {
    content: $a-icon-loyalty;
  }
}
.a-icon-mail_outline {
  &:before {
    content: $a-icon-mail_outline;
  }
}
.a-icon-menu {
  &:before {
    content: $a-icon-menu;
  }
}
.a-icon-mode_comment {
  &:before {
    content: $a-icon-mode_comment;
  }
}
.a-icon-more {
  &:before {
    content: $a-icon-more;
  }
}
.a-icon-more_horiz {
  &:before {
    content: $a-icon-more_horiz;
  }
}
.a-icon-more_vert {
  &:before {
    content: $a-icon-more_vert;
  }
}
.a-icon-motorcycle {
  &:before {
    content: $a-icon-motorcycle;
  }
}
.a-icon-music_note {
  &:before {
    content: $a-icon-music_note;
  }
}
.a-icon-music_video {
  &:before {
    content: $a-icon-music_video;
  }
}
.a-icon-navigation {
  &:before {
    content: $a-icon-navigation;
  }
}
.a-icon-near_me {
  &:before {
    content: $a-icon-near_me;
  }
}
.a-icon-note {
  &:before {
    content: $a-icon-note;
  }
}
.a-icon-note_add {
  &:before {
    content: $a-icon-note_add;
  }
}
.a-icon-notifications {
  &:before {
    content: $a-icon-notifications;
  }
}
.a-icon-notifications_active {
  &:before {
    content: $a-icon-notifications_active;
  }
}
.a-icon-notifications_none {
  &:before {
    content: $a-icon-notifications_none;
  }
}
.a-icon-panorama {
  &:before {
    content: $a-icon-panorama;
  }
}
.a-icon-pause {
  &:before {
    content: $a-icon-pause;
  }
}
.a-icon-pause_circle_filled {
  &:before {
    content: $a-icon-pause_circle_filled;
  }
}
.a-icon-pause_circle_outline {
  &:before {
    content: $a-icon-pause_circle_outline;
  }
}
.a-icon-person_outline {
  &:before {
    content: $a-icon-person_outline;
  }
}
.a-icon-perm_media {
  &:before {
    content: $a-icon-perm_media;
  }
}
.a-icon-person {
  &:before {
    content: $a-icon-person;
  }
}
.a-icon-person_add {
  &:before {
    content: $a-icon-person_add;
  }
}
.a-icon-photo_album {
  &:before {
    content: $a-icon-photo_album;
  }
}
.a-icon-photo_filter {
  &:before {
    content: $a-icon-photo_filter;
  }
}
.a-icon-photo_size_select_actual {
  &:before {
    content: $a-icon-photo_size_select_actual;
  }
}
.a-icon-picture_as_pdf {
  &:before {
    content: $a-icon-picture_as_pdf;
  }
}
.a-icon-play_arrow {
  &:before {
    content: $a-icon-play_arrow;
  }
}
.a-icon-play_circle_filled {
  &:before {
    content: $a-icon-play_circle_filled;
  }
}
.a-icon-playlist_add {
  &:before {
    content: $a-icon-playlist_add;
  }
}
.a-icon-playlist_add_check {
  &:before {
    content: $a-icon-playlist_add_check;
  }
}
.a-icon-plus_one {
  &:before {
    content: $a-icon-plus_one;
  }
}
.a-icon-power_settings_new {
  &:before {
    content: $a-icon-power_settings_new;
  }
}
.a-icon-queue_music {
  &:before {
    content: $a-icon-queue_music;
  }
}
.a-icon-remove_shopping_cart {
  &:before {
    content: $a-icon-remove_shopping_cart;
  }
}
.a-icon-reorder {
  &:before {
    content: $a-icon-reorder;
  }
}
.a-icon-report {
  &:before {
    content: $a-icon-report;
  }
}
.a-icon-warning {
  &:before {
    content: $a-icon-warning;
  }
}
.a-icon-restaurant {
  &:before {
    content: $a-icon-restaurant;
  }
}
.a-icon-school {
  &:before {
    content: $a-icon-school;
  }
}
.a-icon-screen_lock_landscape {
  &:before {
    content: $a-icon-screen_lock_landscape;
  }
}
.a-icon-screen_lock_portrait {
  &:before {
    content: $a-icon-screen_lock_portrait;
  }
}
.a-icon-search {
  &:before {
    content: $a-icon-search;
  }
}
.a-icon-send {
  &:before {
    content: $a-icon-send;
  }
}
.a-icon-sentiment_dissatisfied {
  &:before {
    content: $a-icon-sentiment_dissatisfied;
  }
}
.a-icon-sentiment_neutral {
  &:before {
    content: $a-icon-sentiment_neutral;
  }
}
.a-icon-sentiment_satisfied {
  &:before {
    content: $a-icon-sentiment_satisfied;
  }
}
.a-icon-sentiment_very_satisfied {
  &:before {
    content: $a-icon-sentiment_very_satisfied;
  }
}
.a-icon-shopping_basket {
  &:before {
    content: $a-icon-shopping_basket;
  }
}
.a-icon-textsms {
  &:before {
    content: $a-icon-textsms;
  }
}
.a-icon-star_border {
  &:before {
    content: $a-icon-star_border;
  }
}
.a-icon-star_half {
  &:before {
    content: $a-icon-star_half;
  }
}
.a-icon-store_mall_directory {
  &:before {
    content: $a-icon-store_mall_directory;
  }
}
.a-icon-style {
  &:before {
    content: $a-icon-style;
  }
}
.a-icon-subscriptions {
  &:before {
    content: $a-icon-subscriptions;
  }
}
.a-icon-text_fields {
  &:before {
    content: $a-icon-text_fields;
  }
}
.a-icon-thumbs_up_down {
  &:before {
    content: $a-icon-thumbs_up_down;
  }
}
.a-icon-timeline {
  &:before {
    content: $a-icon-timeline;
  }
}
.a-icon-trending_down {
  &:before {
    content: $a-icon-trending_down;
  }
}
.a-icon-trending_flat {
  &:before {
    content: $a-icon-trending_flat;
  }
}
.a-icon-trending_up {
  &:before {
    content: $a-icon-trending_up;
  }
}
.a-icon-tune {
  &:before {
    content: $a-icon-tune;
  }
}
.a-icon-verified_user {
  &:before {
    content: $a-icon-verified_user;
  }
}
.a-icon-videogame_asset {
  &:before {
    content: $a-icon-videogame_asset;
  }
}
.a-icon-view_carousel {
  &:before {
    content: $a-icon-view_carousel;
  }
}
.a-icon-view_column {
  &:before {
    content: $a-icon-view_column;
  }
}
.a-icon-view_compact {
  &:before {
    content: $a-icon-view_compact;
  }
}
.a-icon-view_headline {
  &:before {
    content: $a-icon-view_headline;
  }
}
.a-icon-view_module {
  &:before {
    content: $a-icon-view_module;
  }
}
.a-icon-view_quilt {
  &:before {
    content: $a-icon-view_quilt;
  }
}
.a-icon-volume_down {
  &:before {
    content: $a-icon-volume_down;
  }
}
.a-icon-volume_mute {
  &:before {
    content: $a-icon-volume_mute;
  }
}
.a-icon-volume_off {
  &:before {
    content: $a-icon-volume_off;
  }
}
.a-icon-volume_up {
  &:before {
    content: $a-icon-volume_up;
  }
}
.a-icon-wallpaper {
  &:before {
    content: $a-icon-wallpaper;
  }
}
.a-icon-watch {
  &:before {
    content: $a-icon-watch;
  }
}
.a-icon-web {
  &:before {
    content: $a-icon-web;
  }
}
.a-icon-weekend {
  &:before {
    content: $a-icon-weekend;
  }
}
.a-icon-widgets {
  &:before {
    content: $a-icon-widgets;
  }
}
.a-icon-work {
  &:before {
    content: $a-icon-work;
  }
}
.a-icon-youtube_searched_for {
  &:before {
    content: $a-icon-youtube_searched_for;
  }
}
.a-icon-zoom_in {
  &:before {
    content: $a-icon-zoom_in;
  }
}
.a-icon-zoom_out {
  &:before {
    content: $a-icon-zoom_out;
  }
}
.a-icon-zoom_out_map {
  &:before {
    content: $a-icon-zoom_out_map;
  }
}
.a-icon-key2 {
  &:before {
    content: $a-icon-key2;
  }
}
.a-icon-lock {
  &:before {
    content: $a-icon-lock;
  }
}
.a-icon-unlocked {
  &:before {
    content: $a-icon-unlocked;
  }
}
.a-icon-magic-wand {
  &:before {
    content: $a-icon-magic-wand;
  }
}
.a-icon-aid-kit {
  &:before {
    content: $a-icon-aid-kit;
  }
}
.a-icon-bug {
  &:before {
    content: $a-icon-bug;
  }
}
.a-icon-pie-chart {
  &:before {
    content: $a-icon-pie-chart;
  }
}
.a-icon-stats-dots {
  &:before {
    content: $a-icon-stats-dots;
  }
}
.a-icon-trophy {
  &:before {
    content: $a-icon-trophy;
  }
}
.a-icon-spoon-knife {
  &:before {
    content: $a-icon-spoon-knife;
  }
}
.a-icon-magnet {
  &:before {
    content: $a-icon-magnet;
  }
}
.a-icon-bin {
  &:before {
    content: $a-icon-bin;
  }
}
.a-icon-power {
  &:before {
    content: $a-icon-power;
  }
}
.a-icon-switch {
  &:before {
    content: $a-icon-switch;
  }
}
.a-icon-menu5 {
  &:before {
    content: $a-icon-menu5;
  }
}
.a-icon-menu2 {
  &:before {
    content: $a-icon-menu2;
  }
}
.a-icon-menu3 {
  &:before {
    content: $a-icon-menu3;
  }
}
.a-icon-menu4 {
  &:before {
    content: $a-icon-menu4;
  }
}
.a-icon-sphere {
  &:before {
    content: $a-icon-sphere;
  }
}
.a-icon-earth {
  &:before {
    content: $a-icon-earth;
  }
}
.a-icon-bookmark {
  &:before {
    content: $a-icon-bookmark;
  }
}
.a-icon-bookmarks {
  &:before {
    content: $a-icon-bookmarks;
  }
}
.a-icon-sun {
  &:before {
    content: $a-icon-sun;
  }
}
.a-icon-smile {
  &:before {
    content: $a-icon-smile;
  }
}
.a-icon-smile2 {
  &:before {
    content: $a-icon-smile2;
  }
}
.a-icon-sad {
  &:before {
    content: $a-icon-sad;
  }
}
.a-icon-sad2 {
  &:before {
    content: $a-icon-sad2;
  }
}
.a-icon-wink {
  &:before {
    content: $a-icon-wink;
  }
}
.a-icon-wink2 {
  &:before {
    content: $a-icon-wink2;
  }
}
.a-icon-grin {
  &:before {
    content: $a-icon-grin;
  }
}
.a-icon-warning2 {
  &:before {
    content: $a-icon-warning2;
  }
}
.a-icon-notification {
  &:before {
    content: $a-icon-notification;
  }
}
.a-icon-info2 {
  &:before {
    content: $a-icon-info2;
  }
}
.a-icon-cancel-circle {
  &:before {
    content: $a-icon-cancel-circle;
  }
}
.a-icon-checkmark2 {
  &:before {
    content: $a-icon-checkmark2;
  }
}
.a-icon-infinite {
  &:before {
    content: $a-icon-infinite;
  }
}
.a-icon-circle-up {
  &:before {
    content: $a-icon-circle-up;
  }
}
.a-icon-circle-right {
  &:before {
    content: $a-icon-circle-right;
  }
}
.a-icon-circle-down {
  &:before {
    content: $a-icon-circle-down;
  }
}
.a-icon-circle-left {
  &:before {
    content: $a-icon-circle-left;
  }
}
.a-icon-insert-template {
  &:before {
    content: $a-icon-insert-template;
  }
}
.a-icon-share {
  &:before {
    content: $a-icon-share;
  }
}
.a-icon-embed {
  &:before {
    content: $a-icon-embed;
  }
}
.a-icon-embed2 {
  &:before {
    content: $a-icon-embed2;
  }
}
.a-icon-mail4 {
  &:before {
    content: $a-icon-mail4;
  }
}
.a-icon-amazon {
  &:before {
    content: $a-icon-amazon;
  }
}
.a-icon-google {
  &:before {
    content: $a-icon-google;
  }
}
.a-icon-google-plus {
  &:before {
    content: $a-icon-google-plus;
  }
}
.a-icon-hangouts {
  &:before {
    content: $a-icon-hangouts;
  }
}
.a-icon-google-drive {
  &:before {
    content: $a-icon-google-drive;
  }
}
.a-icon-facebook {
  &:before {
    content: $a-icon-facebook;
  }
}
.a-icon-facebook2 {
  &:before {
    content: $a-icon-facebook2;
  }
}
.a-icon-whatsapp {
  &:before {
    content: $a-icon-whatsapp;
  }
}
.a-icon-spotify {
  &:before {
    content: $a-icon-spotify;
  }
}
.a-icon-twitter {
  &:before {
    content: $a-icon-twitter;
  }
}
.a-icon-rss2 {
  &:before {
    content: $a-icon-rss2;
  }
}
.a-icon-youtube {
  &:before {
    content: $a-icon-youtube;
  }
}
.a-icon-youtube2 {
  &:before {
    content: $a-icon-youtube2;
  }
}
.a-icon-twitch {
  &:before {
    content: $a-icon-twitch;
  }
}
.a-icon-vimeo2 {
  &:before {
    content: $a-icon-vimeo2;
  }
}
.a-icon-flickr {
  &:before {
    content: $a-icon-flickr;
  }
}
.a-icon-dribbble {
  &:before {
    content: $a-icon-dribbble;
  }
}
.a-icon-behance {
  &:before {
    content: $a-icon-behance;
  }
}
.a-icon-dropbox {
  &:before {
    content: $a-icon-dropbox;
  }
}
.a-icon-onedrive {
  &:before {
    content: $a-icon-onedrive;
  }
}
.a-icon-github {
  &:before {
    content: $a-icon-github;
  }
}
.a-icon-basecamp {
  &:before {
    content: $a-icon-basecamp;
  }
}
.a-icon-wordpress {
  &:before {
    content: $a-icon-wordpress;
  }
}
.a-icon-tumblr2 {
  &:before {
    content: $a-icon-tumblr2;
  }
}
.a-icon-appleinc {
  &:before {
    content: $a-icon-appleinc;
  }
}
.a-icon-android {
  &:before {
    content: $a-icon-android;
  }
}
.a-icon-windows8 {
  &:before {
    content: $a-icon-windows8;
  }
}
.a-icon-skype {
  &:before {
    content: $a-icon-skype;
  }
}
.a-icon-reddit {
  &:before {
    content: $a-icon-reddit;
  }
}
.a-icon-wikipedia {
  &:before {
    content: $a-icon-wikipedia;
  }
}
.a-icon-linkedin {
  &:before {
    content: $a-icon-linkedin;
  }
}
.a-icon-linkedin2 {
  &:before {
    content: $a-icon-linkedin2;
  }
}
.a-icon-pinterest {
  &:before {
    content: $a-icon-pinterest;
  }
}
.a-icon-pinterest2 {
  &:before {
    content: $a-icon-pinterest2;
  }
}
.a-icon-paypal {
  &:before {
    content: $a-icon-paypal;
  }
}
.a-icon-file-pdf {
  &:before {
    content: $a-icon-file-pdf;
  }
}
.a-icon-file-openoffice {
  &:before {
    content: $a-icon-file-openoffice;
  }
}
.a-icon-file-word {
  &:before {
    content: $a-icon-file-word;
  }
}
.a-icon-html-five {
  &:before {
    content: $a-icon-html-five;
  }
}
.a-icon-html-five2 {
  &:before {
    content: $a-icon-html-five2;
  }
}
.a-icon-css3 {
  &:before {
    content: $a-icon-css3;
  }
}
.a-icon-git {
  &:before {
    content: $a-icon-git;
  }
}
.a-icon-svg {
  &:before {
    content: $a-icon-svg;
  }
}

