$icomoon-font-path: "fonts" !default;

$a-icon-access_alarms: "\e902";
$a-icon-schedule: "\e903";
$a-icon-accessible: "\e905";
$a-icon-account_balance_wallet: "\e907";
$a-icon-account_box: "\e908";
$a-icon-account_circle: "\e909";
$a-icon-add: "\e90b";
$a-icon-add_location: "\e912";
$a-icon-add_shopping_cart: "\e913";
$a-icon-flight: "\e915";
$a-icon-apps: "\e917";
$a-icon-arrow_back: "\e919";
$a-icon-arrow_downward: "\e91a";
$a-icon-arrow_drop_down: "\e91b";
$a-icon-arrow_forward: "\e91e";
$a-icon-arrow_upward: "\e91f";
$a-icon-art_track: "\e920";
$a-icon-assignment: "\e923";
$a-icon-assignment_ind: "\e924";
$a-icon-flag: "\e92a";
$a-icon-attach_file: "\e92b";
$a-icon-audiotrack: "\e92e";
$a-icon-beenhere: "\e934";
$a-icon-class: "\e93b";
$a-icon-turned_in: "\e93c";
$a-icon-turned_in_not: "\e93d";
$a-icon-border_color: "\e93e";
$a-icon-brush: "\e949";
$a-icon-burst_mode: "\e94d";
$a-icon-domain: "\e94e";
$a-icon-phone: "\e952";
$a-icon-photo_camera: "\e95c";
$a-icon-redeem: "\e962";
$a-icon-casino: "\e964";
$a-icon-chat: "\e96a";
$a-icon-chat_bubble: "\e96b";
$a-icon-chat_bubble_outline: "\e96c";
$a-icon-check: "\e96d";
$a-icon-check_box: "\e96e";
$a-icon-check_box_outline_blank: "\e96f";
$a-icon-check_circle: "\e970";
$a-icon-navigate_before: "\e971";
$a-icon-navigate_next: "\e972";
$a-icon-chrome_reader_mode: "\e975";
$a-icon-close: "\e976";
$a-icon-code: "\e97e";
$a-icon-photo_library: "\e97f";
$a-icon-collections_bookmark: "\e980";
$a-icon-palette: "\e981";
$a-icon-comment: "\e983";
$a-icon-mode_edit: "\e990";
$a-icon-payment: "\e992";
$a-icon-dashboard: "\e99e";
$a-icon-date_range: "\e9a0";
$a-icon-dehaze: "\e9a1";
$a-icon-developer_mode: "\e9aa";
$a-icon-phonelink: "\e9ac";
$a-icon-devices_other: "\e9ad";
$a-icon-done: "\e9c0";
$a-icon-drag_handle: "\e9c5";
$a-icon-markunread: "\e9ca";
$a-icon-error_outline: "\e9ce";
$a-icon-event_available: "\e9d2";
$a-icon-event_busy: "\e9d3";
$a-icon-event_note: "\e9d4";
$a-icon-extension: "\e9e1";
$a-icon-favorite: "\e9e5";
$a-icon-favorite_border: "\e9e6";
$a-icon-filter_1: "\e9f1";
$a-icon-filter_2: "\e9f2";
$a-icon-filter_3: "\e9f3";
$a-icon-filter_4: "\e9f4";
$a-icon-filter_5: "\e9f5";
$a-icon-filter_6: "\e9f6";
$a-icon-filter_7: "\e9f7";
$a-icon-filter_8: "\e9f8";
$a-icon-filter_9: "\e9f9";
$a-icon-filter_9_plus: "\e9fa";
$a-icon-terrain: "\e9ff";
$a-icon-find_in_page: "\ea04";
$a-icon-format_quote: "\ea18";
$a-icon-free_breakfast: "\ea21";
$a-icon-fullscreen: "\ea22";
$a-icon-star: "\ea2e";
$a-icon-highlight_off: "\ea40";
$a-icon-home: "\ea42";
$a-icon-hourglass_empty: "\ea45";
$a-icon-hourglass_full: "\ea46";
$a-icon-photo: "\ea49";
$a-icon-info: "\ea50";
$a-icon-info_outline: "\ea51";
$a-icon-input: "\ea52";
$a-icon-insert_drive_file: "\ea54";
$a-icon-tag_faces: "\ea55";
$a-icon-link: "\ea56";
$a-icon-keyboard_arrow_down: "\ea5b";
$a-icon-keyboard_arrow_left: "\ea5c";
$a-icon-keyboard_arrow_right: "\ea5d";
$a-icon-keyboard_arrow_up: "\ea5e";
$a-icon-label: "\ea66";
$a-icon-label_outline: "\ea67";
$a-icon-library_books: "\ea6e";
$a-icon-library_music: "\ea6f";
$a-icon-line_style: "\ea71";
$a-icon-line_weight: "\ea73";
$a-icon-local_play: "\ea79";
$a-icon-local_bar: "\ea7c";
$a-icon-local_cafe: "\ea81";
$a-icon-restaurant_menu: "\ea7e";
$a-icon-shopping_cart: "\ea83";
$a-icon-theaters: "\ea8a";
$a-icon-local_pizza: "\ea93";
$a-icon-local_shipping: "\ea95";
$a-icon-local_taxi: "\ea97";
$a-icon-location_city: "\ea98";
$a-icon-room: "\ea9a";
$a-icon-lock_open: "\ea9b";
$a-icon-lock_outline: "\eaa0";
$a-icon-looks_3: "\eaa3";
$a-icon-looks_4: "\eaa4";
$a-icon-looks_5: "\eaa5";
$a-icon-looks_6: "\eaa6";
$a-icon-looks_one: "\eaa7";
$a-icon-looks_two: "\eaa9";
$a-icon-loyalty: "\eaae";
$a-icon-mail_outline: "\eaaf";
$a-icon-menu: "\eab6";
$a-icon-mode_comment: "\eabd";
$a-icon-more: "\eac1";
$a-icon-more_horiz: "\eac2";
$a-icon-more_vert: "\eac3";
$a-icon-motorcycle: "\eac4";
$a-icon-music_note: "\eacc";
$a-icon-music_video: "\eacd";
$a-icon-navigation: "\ead0";
$a-icon-near_me: "\ead1";
$a-icon-note: "\eadb";
$a-icon-note_add: "\eadc";
$a-icon-notifications: "\eadd";
$a-icon-notifications_active: "\eade";
$a-icon-notifications_none: "\eadf";
$a-icon-panorama: "\eaea";
$a-icon-pause: "\eaf0";
$a-icon-pause_circle_filled: "\eaf1";
$a-icon-pause_circle_outline: "\eaf2";
$a-icon-person_outline: "\eaf8";
$a-icon-perm_media: "\eaf9";
$a-icon-person: "\eafc";
$a-icon-person_add: "\eafd";
$a-icon-photo_album: "\eb0d";
$a-icon-photo_filter: "\eb0e";
$a-icon-photo_size_select_actual: "\eb0f";
$a-icon-picture_as_pdf: "\eb12";
$a-icon-play_arrow: "\eb18";
$a-icon-play_circle_filled: "\eb19";
$a-icon-playlist_add: "\eb1c";
$a-icon-playlist_add_check: "\eb1d";
$a-icon-plus_one: "\eb1f";
$a-icon-power_settings_new: "\eb26";
$a-icon-queue_music: "\eb2c";
$a-icon-remove_shopping_cart: "\eb3a";
$a-icon-reorder: "\eb3b";
$a-icon-report: "\eb44";
$a-icon-warning: "\eb45";
$a-icon-restaurant: "\eb46";
$a-icon-school: "\eb55";
$a-icon-screen_lock_landscape: "\eb56";
$a-icon-screen_lock_portrait: "\eb57";
$a-icon-search: "\eb5c";
$a-icon-send: "\eb5f";
$a-icon-sentiment_dissatisfied: "\eb60";
$a-icon-sentiment_neutral: "\eb61";
$a-icon-sentiment_satisfied: "\eb62";
$a-icon-sentiment_very_satisfied: "\eb64";
$a-icon-shopping_basket: "\eb79";
$a-icon-textsms: "\eb8d";
$a-icon-star_border: "\eb99";
$a-icon-star_half: "\eb9a";
$a-icon-store_mall_directory: "\eba0";
$a-icon-style: "\eba4";
$a-icon-subscriptions: "\eba8";
$a-icon-text_fields: "\ebbd";
$a-icon-thumbs_up_down: "\ebc2";
$a-icon-timeline: "\ebc4";
$a-icon-trending_down: "\ebd7";
$a-icon-trending_flat: "\ebd8";
$a-icon-trending_up: "\ebd9";
$a-icon-tune: "\ebda";
$a-icon-verified_user: "\ebe2";
$a-icon-videogame_asset: "\ebec";
$a-icon-view_carousel: "\ebef";
$a-icon-view_column: "\ebf0";
$a-icon-view_compact: "\ebf2";
$a-icon-view_headline: "\ebf4";
$a-icon-view_module: "\ebf6";
$a-icon-view_quilt: "\ebf7";
$a-icon-volume_down: "\ebfe";
$a-icon-volume_mute: "\ebff";
$a-icon-volume_off: "\ec00";
$a-icon-volume_up: "\ec01";
$a-icon-wallpaper: "\ec04";
$a-icon-watch: "\ec05";
$a-icon-web: "\ec0c";
$a-icon-weekend: "\ec0e";
$a-icon-widgets: "\ec10";
$a-icon-work: "\ec13";
$a-icon-youtube_searched_for: "\ec15";
$a-icon-zoom_in: "\ec16";
$a-icon-zoom_out: "\ec17";
$a-icon-zoom_out_map: "\ec18";
$a-icon-key2: "\e98e";
$a-icon-lock: "\e98f";
$a-icon-unlocked: "\e991";
$a-icon-magic-wand: "\e997";
$a-icon-aid-kit: "\e998";
$a-icon-bug: "\e999";
$a-icon-pie-chart: "\e99a";
$a-icon-stats-dots: "\e99b";
$a-icon-trophy: "\e99f";
$a-icon-spoon-knife: "\e9a3";
$a-icon-magnet: "\e9ab";
$a-icon-bin: "\e9ae";
$a-icon-power: "\e9b5";
$a-icon-switch: "\e9b6";
$a-icon-menu5: "\e9bd";
$a-icon-menu2: "\e9be";
$a-icon-menu3: "\e9bf";
$a-icon-menu4: "\e9c1";
$a-icon-sphere: "\e9c9";
$a-icon-earth: "\e9cb";
$a-icon-bookmark: "\e9d5";
$a-icon-bookmarks: "\e9d6";
$a-icon-sun: "\e9d7";
$a-icon-smile: "\e9e2";
$a-icon-smile2: "\e9e3";
$a-icon-sad: "\e9e7";
$a-icon-sad2: "\e9e8";
$a-icon-wink: "\e9e9";
$a-icon-wink2: "\e9ea";
$a-icon-grin: "\e9eb";
$a-icon-warning2: "\ea07";
$a-icon-notification: "\ea08";
$a-icon-info2: "\ea0c";
$a-icon-cancel-circle: "\ea0d";
$a-icon-checkmark2: "\ea11";
$a-icon-infinite: "\ea2f";
$a-icon-circle-up: "\ea41";
$a-icon-circle-right: "\ea43";
$a-icon-circle-down: "\ea44";
$a-icon-circle-left: "\ea47";
$a-icon-insert-template: "\ea72";
$a-icon-share: "\ea7d";
$a-icon-embed: "\ea7f";
$a-icon-embed2: "\ea80";
$a-icon-mail4: "\ea86";
$a-icon-amazon: "\ea87";
$a-icon-google: "\ea88";
$a-icon-google-plus: "\ea8b";
$a-icon-hangouts: "\ea8e";
$a-icon-google-drive: "\ea8f";
$a-icon-facebook: "\ea90";
$a-icon-facebook2: "\ea91";
$a-icon-whatsapp: "\ea94";
$a-icon-spotify: "\ec19";
$a-icon-twitter: "\ea96";
$a-icon-rss2: "\ea9c";
$a-icon-youtube: "\ea9d";
$a-icon-youtube2: "\ea9e";
$a-icon-twitch: "\ea9f";
$a-icon-vimeo2: "\eaa1";
$a-icon-flickr: "\eaaa";
$a-icon-dribbble: "\eaab";
$a-icon-behance: "\eaa8";
$a-icon-dropbox: "\eab1";
$a-icon-onedrive: "\eab3";
$a-icon-github: "\eab0";
$a-icon-basecamp: "\eab2";
$a-icon-wordpress: "\eab4";
$a-icon-tumblr2: "\eaba";
$a-icon-appleinc: "\eabe";
$a-icon-android: "\eac0";
$a-icon-windows8: "\eac5";
$a-icon-skype: "\eac6";
$a-icon-reddit: "\eac7";
$a-icon-wikipedia: "\eac8";
$a-icon-linkedin: "\eac9";
$a-icon-linkedin2: "\eaca";
$a-icon-pinterest: "\ead2";
$a-icon-pinterest2: "\ead3";
$a-icon-paypal: "\ead8";
$a-icon-file-pdf: "\eae0";
$a-icon-file-openoffice: "\eae1";
$a-icon-file-word: "\eae2";
$a-icon-html-five: "\eae4";
$a-icon-html-five2: "\eae5";
$a-icon-css3: "\eae6";
$a-icon-git: "\eae7";
$a-icon-svg: "\eae9";

